<div class="feed">
  <div class="feed__content">
    <div class="feed__content__item">
      <div class="feed__content__item__actions">
        <a [routerLink]="['/feed/' + article?._id + '/edit']" class=" button button--edit">Editar</a>
        <a href (click)="onDelete($event)" class="button button--delete">Eliminar</a>
      </div>
      <div *ngIf="article?.image" class="feed__content__item__image">
        <img src="{{ article?.image }}" alt="{{ article?.title }}">
      </div>
      <div class="feed__content__item__body">
        <h2>{{ article?.title }}</h2>
        <p [innerHTML]="article?.body | html"></p>
      </div>
    </div>
  </div>
</div>
