@import "../../../assets/scss/variables.scss";

.feeds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  &__content,
  &__alternative__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    padding: 2vh;
    border-bottom: 2px solid $primary-text-color;

    &::after {
      content: "";
      flex: 1 1 100%;
      max-width: 32%;
    }

    &__item {
      a {
        color: $primary-text-color;
        text-decoration: none;

        &:hover {
          color: $primary-text-color;
          text-decoration: none;
        }
      }

      width: 100%;
      margin-bottom: 5vh;

      @media (min-width: 768px) and (max-width: 991px) {
        width: 45%;
      }

      @media (min-width: 992px) {
        width: 30%;
      }

      &__image {
        >img {
          width: 100%;
          max-height: 223px;
        }
      }
    }
  }

  &__alternative {
    &__content {
      h2 {
        display: block;
        width: 100%;
        margin-bottom: 3vh;
      }
    }
  }
}
