<div class="feeds">
  <div class="feeds__content">
    <div class="feeds__content__item" *ngFor="let feed of feeds">
      <a [routerLink]="['/feed/' + feed._id]">
        <div *ngIf="feed.image" class="feeds__content__item__image">
          <img src="{{ feed.image }}" alt="{{ feed.title }}">
        </div>
        <div class="feeds__content__item__body">
          <h2>{{ feed.title }}</h2>
          <p>{{ feed.body | summarize }}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="feeds__alternative__content">
    <h2>Otras noticias de interés</h2>
    <div class="feeds__alternative__content__item" *ngFor="let feed of feedsWithoutImages">
      <div class="feeds__alternative__content__item__body">
        <a [routerLink]="['/feed/' + feed._id]">
          <h3>{{ feed.title }}</h3>
          <p>{{ feed.body | summarize }}</p>
        </a>
      </div>
    </div>
  </div>
</div>
